#primary-wrapper { min-width: 0px; }
@media handheld, only screen and (max-width: 767px) {
  h1 { font-size: 3.2rem; line-height: 1.3; }
  h2 { font-size: 2.8rem; line-height: 1.3; }
  h3 { font-size: 2.1rem; line-height: 1.3; }
  h5 { font-size: 1.6rem; line-height: 1.2; }
  h6 { font-size: 1.5rem; line-height: 1.2; }
  body, p { font-size: 1.5rem; line-height: 1.4; }
}
@media only screen and (max-width: 767px) {
  .alignleft, .alignright { float: none ! important; margin: 0px auto 15px ! important; }
  body { -moz-text-size-adjust: none; width: 100%; min-width: 0px; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
  .wrapper { min-width: 0px; margin-left: 0px; margin-right: 0px; }
  .row { width: auto; min-width: 0px; margin-left: 0px; margin-right: 0px; }
  #primary-wrapper .column, #primary-wrapper .columns, .blockquote_quotes { width: 100% ! important; max-width: 100%; float: none; margin-bottom: 15px; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  .column::before, .columns::before, .column::after, .columns::after { content: ""; display: table; }
  .column::after, .columns::after { clear: both; }
  .nv-pricing-table .nv-pricing-plan, #header #nv-tabs, #item-body div.message-search { margin: 0px; float: none ! important; clear: both ! important; }
  #nv-tabs.center { display: block; }
}
.hide-on-phones { display: block ! important; }
.hide-on-desktops { display: none ! important; }
@media only screen and (max-width: 1280px) and (min-width: 768px) {
}
@media only screen and (max-width: 767px) {
  .hide-on-phones { display: none ! important; }
  .hide-on-desktops { display: block ! important; }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 1280px) and (min-width: 768px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (min-device-width: 481px) and (max-device-width: 980px) and (orientation: portrait) {
  #nv_selectmenu { display: block ! important; }
  #dyndropmenu { display: none ! important; }
  #header #nv-tabs { float: none ! important; }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 980px) and (orientation: landscape) {
  #nv_selectmenu { display: block ! important; }
  #dyndropmenu { display: none ! important; }
  #header #nv-tabs { float: none ! important; }
}
@media only screen and (max-width: 767px) {
  #nv_selectmenu { display: block ! important; }
  #dyndropmenu { display: none ! important; }
  #header #nv-tabs { float: none ! important; }
}
