@font-face {
  font-family: "revicons";
  font-style: normal;
  font-weight: normal;
  src: url("revicons.eot") format("embedded-opentype"), url("revicons.woff") format("woff"), url("revicons.ttf") format("truetype"), url("revicons.svg") format("svg");
}
@keyframes rev-ani-mouse {
0% { opacity: 1; top: 29%; }
15% { opacity: 1; top: 50%; }
50% { opacity: 0; top: 50%; }
100% { opacity: 0; top: 29%; }
}
@keyframes tp-rotateplane {
0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}
@keyframes tp-scaleout {
0% { transform: scale(0); }
100% { transform: scale(1); opacity: 0; }
}
@keyframes tp-bouncedelay {
0%, 80%, 100% { transform: scale(0); }
40% { transform: scale(1); }
}
@keyframes tp-rotate {
100% { transform: rotate(360deg); }
}
@keyframes tp-bounce {
0%, 100% { transform: scale(0); }
50% { transform: scale(1); }
}
