@import url("style.css");
.divider-light #nv-tabs li.menubreak { background: transparent none repeat scroll 0% 0%; }
#nv-tabs li { padding-bottom: 10px; }
#nv-tabs ul li.hasdropmenu span.dropmenu-icon { bottom: 22px; }
#nv-tabs ul li span.menu-highlight { height: auto; left: 0px; margin-top: 0px; position: absolute; top: 0px; width: 100%; z-index: -1; }
#nv-tabs ul li:hover span.menu-highlight, #nv-tabs ul li.current_page_item span.menu-highlight, #nv-tabs ul li.current_page_parent span.menu-highlight, #nv-tabs ul li.current-menu-ancestor span.menu-highlight, #nv-tabs ul li ul li:hover { background: transparent none repeat scroll 0% 0%; }
#nv-tabs ul li.hasdropmenu span.dropmenu-icon { z-index: 999; }
#nv-tabs > ul > li > a { background: rgb(177, 204, 47) none repeat scroll 0px 0px; border-radius: 10px; color: rgb(255, 255, 255); cursor: pointer; display: block; font-weight: bold; margin: 0px 2px; padding: 8px; position: relative; text-align: center ! important; text-decoration: none; z-index: 100; }
#nv-tabs ul ul { margin: 10px 0px 0px -2px; }
#nv-tabs ul ul::before { border-color: rgb(251, 251, 251) transparent; border-style: solid; border-width: 0px 10px 10px; top: -10px; content: ""; display: block; left: 20px; position: absolute; width: 0px; }
#nv-tabs ul li { margin-right: 10px; }
#nv-tabs ul li:last-child { margin-right: 0px; }
div.custom-layer { position: absolute; width: 100%; min-height: 100%; height: 100%; left: 0px; }
.tab-wrap { position: relative; top: 0px; height: 32px; z-index: 999; }
a.button, a.tp-button, a.button.alt, button.button, button.button.alt, input.button, #review_form #submit, #content input.button.alt, #respond input#submit.alt { color: rgb(255, 255, 255); text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); background: rgb(177, 204, 47) none repeat scroll 0% 0%; border: medium none ! important; border-radius: 10px; }
a.button:hover, a.button.alt:hover, button.button:hover, button.button.alt:hover, input.button:hover, #review_form #submit:hover, #content input.button.alt:hover, #respond input#submit.alt:hover { background: rgb(177, 204, 47) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.text-center { text-align: center ! important; }
.text-left { text-align: left ! important; }
#logo img { width: 600px; }
#toppanel { display: none; }
div#primary-wrapper { background: transparent url("bg1.jpg") repeat fixed 0% 0%; }
.wrapper.main .content-wrap { margin-bottom: 0px; }
.wrapper.main .content-wrap .skinset-main { border-radius: 6px 6px 0px 0px; border: medium none; }
#footer { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 0px; }
#primary-wrapper #footer div.content { background: transparent url("footer.png") no-repeat scroll 0% 0% / cover ; margin: 0px 15px; padding: 5px; }
.sidebar-shadow.mid { border: 3px solid rgb(219, 219, 234); border-radius: 2px; padding: 15px 5px; }
@media only screen and (min-width: 320px) and (max-width: 768px) {
}
.fb-like span { overflow: visible ! important; width: 450px ! important; margin-right: -375px; }
